<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" routerLink=""><i class="fa fa-connectdevelop" aria-hidden="true"></i></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
  >
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav justify-content-between">
      <a class="nav-item nav-link" routerLink="add">Add Restaurant</a>
      <a class="nav-item nav-link" routerLink="">List Restaurant</a>
      <a class="nav-item nav-link" routerLink="register">Register User</a>
    </div>
  </div>
</nav>


<!-- <header>
  <div class="logo">
    <a><i class="fa fa-connectdevelop" aria-hidden="true"></i></a>
  </div>
    <nav>
      <ul class="nav_links">
        <li><a href="#">Add Restaurant</a></li>
        <li><a href="#">List Restaurant</a></li>
        <li><a href="#">Register</a></li>
      </ul>
    </nav>
</header> -->

<div class="container">
  <router-outlet></router-outlet>
</div>
